*{
    margin: 0 auto;
    padding: 0 auto;
    
    
}
body{ 

  font-family: "Inter", sans-serif;
  background-color: #FFFFFF;
}


/* Shared style */
.btn{
    color: rgba(255, 255, 255, 1);
    background-color: #30B868;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 12px;
    border: none;
    border-radius: 4px;
    display: inline-flex;     
    align-items: center;        
    gap: 10px;
    cursor: pointer;

}
.btn2{
    color: rgba(255, 255, 255, 1);
    background: none;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 12px;
    border: 1px solid rgba(255, 255, 255, 1) ;
    border-radius: 4px;
    margin-left: 16px;
    display: inline-flex;     
    align-items: center;        
    gap: 10px;
    cursor: pointer;

}

.btn:hover {
  color: #001931; 
}
.btn2:hover {
  color: #71a4d4;
  border-color: #71a4d4 ;
}


/* main style */

.navigation-section{
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;
    background-color: rgba(251, 251, 251, 1);
}
.navigation-section img{
    max-width: 139px;
}
.navigation-section .header-link ul{
    display: flex;
  list-style: none;
  gap: 32px;
  align-content: center;
}
.navigation-section .header-link{
    align-content: center;
}

.navigation-section a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;   
}

.banner{
    width: 1600px;
    height: 674px;
    background-image: url("./assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;   
}
.banner button img{
    width: 20px;
    height: 20px;
}
.banner button{
    align-items: center;
}


.banner .banner-content{
    
    text-align: center;
}
.banner-content .early{
   font-size: 16px;
   font-weight: 500;
   line-height: 19px;
   color: rgba(70, 145, 101, 1);
   background-color: rgba(255, 255, 255, 1);
   border-radius: 1000px;
max-width: 229px;
margin: 138px auto 16px;
padding: 8px 12px;


}
.banner-content h1{
    margin-top: 16px;
   font-size: 72px;
   font-weight: 700;
   line-height: 84px;
}
.banner-content .text{
    margin-top: 16px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 32px;
}

.note{
    text-align: center;
    margin: 80px auto 0;
}
.note .text-part h2{
    font-size: 48px;
    line-height: 58px;
    font-weight: 700;
}
.note .text-part p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(98, 115, 130, 1);
    margin-top: 16px;
}
.note .card-holder{
    display: flex;
    justify-content: space-between;
}
.note .card{
    width: 322px;
    height: 300px;
    margin: 40px 24px 0px;
    padding: 24px;   
    background-color:rgba(255, 255, 255, 1);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}
.note .card h4{
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    margin: 16px auto;
}
.note .card p{
    color: rgba(98, 115, 130, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
.note .card .icon{
    background-color: rgba(249, 85, 85, 1);
    border-radius: 1000px;
    padding: 10px;
    margin-top: 70px;
}
.brain{
    margin: 120px auto 0;
    max-width: 1360px;
}
.brain .brain-section{
    display: flex;
   justify-content: space-between;
   gap: 60px;
}
.brain .brain-section img{
    margin: 0;
}

.brain .brain-section .information h4{
   font-size: 16px;
   font-weight: 500;
   color: rgba(70, 145, 101, 1);
   line-height: 20px;
   margin-top: 102px;
}
.brain .brain-section .information h1{
   font-size: 48px;
   font-weight: 700;
   line-height: 58px;
   margin-top: 16px;
   
}
.brain .brain-section .information p{
   font-size: 16px;
   font-weight: 400;
   line-height: 20px;
   margin-top: 16px;
   color: rgba(98, 115, 130, 1);
   
}

.list{
    list-style-image: url("./assets/CheckCircle.png");
    margin-top: 40px;
}
.list li{
    font-weight: 500;
    font-size: 16px;
    font-weight: 20px;
    color: #001931;
}
.list ul li{
    margin-bottom: 16px;
}
.access{
    margin: 120px auto;
}
.access .early-access{
 text-align: center;
 padding: 80px 40px;
 width: 1360px;
 background-color: #F7F6F2;
 border-radius: 12px;
}
.access .early-access h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: #001931;
}
.access .early-access p{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #627382;
  margin-top: 16px;
}

footer{
    background-color: #001931;
    height:348px;
    padding: 120px 120px 30px;
}
 footer .footer-container{
    display: flex;
    justify-content: space-between;
 }
  footer .footer-container img{
    width: 140px;
    height: 60px;
    margin: 0;
  }
   footer .footer-container .social{
    margin: 0;
    color: #F7F6F2;

   }
   footer .footer-container .social-links ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin-top: 16px;
   }


.social-links ul li a {
    width: 20px;
    height: 20px;
    gap: 20px;
    color: #FAFAFA;


}
footer .footer-section p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FAFAFA;
    text-align: center;
    margin-top: 30px;
}