*{
    margin: 0 0;
    padding: none;
    
    
}
body{ 

  font-family: "Inter", sans-serif;
}

body{
    width: 1600px;
    height: 750px; 
    background-image: url("./assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* Shared style */
.btn{
    color: rgba(255, 255, 255, 1);
    background-color: #30B868;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 12px;
    border: none;
    border-radius: 4px;
}



/* main style */
.navigation-section{
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;
    background-color: rgba(251, 251, 251, 1);
}
.navigation-section img{
    max-width: 139px;
}
.navigation-section .header-link ul{
    display: flex;
  list-style: none;
  gap: 32px;
  align-content: center;
}
.navigation-section .header-link{
    align-content: center;
}

.navigation-section a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;   
}

.banner .banner-content{
    margin-top: 138px;
    align-items: center;
    display: block;
    text-align: center;
}
.banner-content .early{
   font-size: 16px;
   font-weight: 500px;
   line-height: 19px;
   color: rgba(70, 145, 101, 1);
   background-color: rgba(255, 255, 255, 1);
   border-radius: 1000px;
max-width: 229px;
margin: 0 auto;
padding: 8 12;

}
.banner-content h1{
    margin-top: 16px;
   font-size: 72px;
   font-weight: 700px;
   line-height: 84px;
}
.banner-content .text{
    margin-top: 16px;
    font-size: 18px;
    font-weight: 400px;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 32px;
}
.btn2{
    color: rgba(255, 255, 255, 1);
    background: none;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 12px;
    border: 1px solid rgba(255, 255, 255, 1) ;
    border-radius: 4px;
    margin-left: 16px;
}